<h1>Editing Party</h1>

<%= render 'form', party: @party %>

<div class="controls mt-1">
  <%= link_to 'Show', @party, class: 'btn easy-outline mr-1' %>
  <%= link_to 'Back', parties_path, class: 'btn none-outline' %>
</div>
