---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters/bat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3da-avMVfDEFn+F27SwrOeBuIcFrPPQ"
    body:
      encoding: UTF-8
      string: '{"index":"bat","name":"Bat","size":"Tiny","type":"beast","subtype":null,"alignment":"unaligned","armor_class":12,"hit_points":1,"hit_dice":"1d4","speed":{"walk":"5
        ft.","fly":"30 ft."},"strength":2,"dexterity":15,"constitution":8,"intelligence":2,"wisdom":12,"charisma":4,"proficiencies":[],"damage_vulnerabilities":[],"damage_resistances":[],"damage_immunities":[],"condition_immunities":[],"senses":{"blindsight":"60
        ft.","passive_perception":11},"languages":"","challenge_rating":0,"xp":10,"special_abilities":[{"name":"Echolocation","desc":"The
        bat can''t use its blindsight while deafened."},{"name":"Keen Hearing","desc":"The
        bat has advantage on Wisdom (Perception) checks that rely on hearing."}],"actions":[{"name":"Bite","desc":"Melee
        Weapon Attack: +0 to hit, reach 5 ft., one creature. Hit: 1 piercing damage.","attack_bonus":0,"damage":[{"damage_type":{"index":"piercing","name":"Piercing","url":"/api/damage-types/piercing"},"damage_dice":"1"}]}],"url":"/api/monsters/bat"}'
  recorded_at: Fri, 18 Feb 2022 07:36:01 GMT
recorded_with: VCR 6.0.0
