---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/monsters?challenge_rating=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"763-lFyVTRaHMEm/Xd/pAbfXaec9YlU"
    body:
      encoding: UTF-8
      string: '{"count":25,"results":[{"index":"animated-armor","name":"Animated Armor","url":"/api/monsters/animated-armor"},{"index":"brass-dragon-wyrmling","name":"Brass
        Dragon Wyrmling","url":"/api/monsters/brass-dragon-wyrmling"},{"index":"brown-bear","name":"Brown
        Bear","url":"/api/monsters/brown-bear"},{"index":"bugbear","name":"Bugbear","url":"/api/monsters/bugbear"},{"index":"copper-dragon-wyrmling","name":"Copper
        Dragon Wyrmling","url":"/api/monsters/copper-dragon-wyrmling"},{"index":"death-dog","name":"Death
        Dog","url":"/api/monsters/death-dog"}[...]
