<p id="notice"><%= notice %></p>

<%= render 'shared/stat_block' %>

<div class="pt-1">
  <%= link_to 'Edit', edit_monster_path(@monster), class: 'btn easy' %>
  <%= link_to 'Back', monsters_path, class: 'btn medium' %>
</div>