<div id="header">
  <nav class="main-nav">
    <%= link_to 'D&D 5e Encounter Builder', root_path, class: 'navbar-brand' %>

    <ul class="main-links">
      <li><%= link_to 'Encounters', encounters_path %></li>
      <li><%= link_to 'Monsters', monsters_url, class: 'margin-inline-1' %></li>
      <li><%= link_to 'Party Manager', parties_url %></li>
    </ul>
  </nav>
</div>