<div id='party-stats'></div>
<div id='encounter-stats'></div>

<template id='party-stats-template'>
  <div class='stats'>
    <div id='party-xp'>
      <div class='col'>
        <label>easy</label>
        <span class='pill easy'></span>
      </div>
      <div class='col'>
        <label>medium</label>
        <span class='pill medium'></span>
      </div>
      <div class='col'>
        <label>hard</label>
        <span class='pill hard'></span>
      </div>
      <div class='col'>
        <label>deadly</label>
        <span class='pill deadly'></span>
      </div>
    </div>
    <span class='summary mt-1'># of characters: 
      <span class='number-of-players'></span> |
      average player level: <span class='average-player-level'></span>
    </span>
  </div>
</template>

<template id='encounter-stats-template'>
  <label>Difficulty</label>
  <span class='large-pill'></span>

  <div class='xp'>
    <div class='col'>
      <label>Total XP</label>
      <span class='total-xp'></span>
    </div>

    <div class='col'>
      <label>Adjusted XP</label>
      <span>
        <span class='adjusted-xp'></span> XP (<span class='multiplier'></span>)
      </span>
    </div>
  </div>
</template>