  <div id="encounter-builder">
    <div id="encounter-stats">
      <%= render partial: 'encounters/encounter/encounter' %>
    </div>

    <%# <h2>Manage Encounter</h2> %>
    <div>
      <h3>Encounter details</h3>
      <%= render 'encounters/encounter/form', encounter: @encounter %>
    </div>
    <div id="monsters">
      <%= render partial: 'encounters/monster/monster' %>
    </div>
  </div>