<template id='encounter-stats-template'>
  <div class="flex-col">
    <label>Difficulty</label>
    <span class='large-pill pill'></span>
  </div>

  <div class='xp'>
    <div class='flex-col'>
      <label>Total XP</label>
      <span class='total-xp'></span>
    </div>

    <div class='flex-col'>
      <label>Adjusted XP</label>
      <span>
        <span class='adjusted-xp'></span> XP (x<span class='multiplier'></span>)
      </span>
    </div>
  </div>
</template>