<template id='monster-fields-template'>
  <div class='monster-data'>
    <div class='monster-fields'>
      <input type="hidden" class="group_size">
      <input type="hidden" class="monster_id">
      <input type="hidden" class="_destroy" value="false">
    </div>

    <div class="monster card">
      <div class="emoji">&#128126;</div>
      <div class="description">
        <a class="name"></a>
        <span class="size-and-type"></span>
      </div>
      <div class="stats">
        <div>
          <label>CR:</label>
          <span></span>
        </div>
        <div>
          <label>XP:</label>
          <span></span>
        </div>
      </div>
      <div class='group-size-view'>
        <button class='btn plus'>+</button>
        <span class="group-size-value"></span>
        <button class='btn minus'>-</button>
      </div>
    </div>

    <a class="remove-monster" data-record-in-db='false' href="#">Remove monster</a>
  </div>
</template>