<% @party ||= Party.new %>
<% presenter = PartyPresenter.new(@party) %>
<span class='summary mb-1'><%= presenter.summary %></span>

<div class="xp flex-row">
  <% presenter.xp.each do |key, value| %>
    <div class="flex-col">
      <label><%= key %></label>
      <span class="pill <%= key %>"><%= value %></span>
    </div>
  <% end %>
</div>