/* manage characters */
#party {
    display: flex;
    flex-direction: column;
}

.summary, #xp-threshold {
    /* align-self: center; */
    text-transform: uppercase;
    font-weight: bold;
    color: var(--label-color);
}
.summary {
    align-self: center;
}

/* manage encounter */
h1 {
    margin-bottom: 1em;
}
#monsters {
    /* display: flex; */
    flex-wrap: wrap;
    gap: 0 1em;
    align-items: stretch;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    border-radius: 3px;
    padding: 0.5em;
    margin-block: 0.5em;
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    -webkit-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.5);
}
.player {
    min-height: 50px;
    min-width: 150px;
}
.monster {
    /* height: 75px; */
    min-width: 200px;
}

.description { 
    width: 40%;
    display: flex;
    flex-direction: column;
}
.size-and-type {
    font-size: 0.9em;
    color: var(--label-color);
}
.description { 
    width: 60%;
    display: flex;
    flex-direction: column;
}
.size-and-type {
    font-size: 0.9em;
    color: var(--label-color);
}
.player .stats {
    text-align: right;
}
.emoji {
    font-size: 2em;
}
.stats {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.stats label, #xp-threshold label {
    text-transform: uppercase;
    color: var(--label-color);
}

/* encounter styling */
#party-toggle {
    font-size: 3em;
    color: black;
}

#encounter label {
    margin-top: 0.5em;
}
#xp-threshold {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.xp {
    margin-block: 1em;
    display: flex;
    justify-content: space-between;
}
.xp div:nth-of-type(2) {
    align-items: flex-end;
}

.pill, .large-pill {
    border-radius: .5em;
    padding: 0.25em 0.5em;
    font-weight: bold;
    color: white;
    text-align: center;
}
.none {
    background-color: var(--label-color);
}
.trivial { 
    background-color: var(--trivial); 
    color: white;
}
.easy {
    background-color: var(--easy);
    color: white;
}
.medium {
    background-color: var(--medium);
    color: black;
}
.hard {
    background-color: var(--hard);
    color: white;
}
.deadly {
    background-color: var(--deadly);
    color: white;
}
.large-pill {
    min-width: 55px;
}