@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --bg-color: white;
    --border-color: #D3D3D3;
    --font-color: black;
    --card-color: white;
    --form-element-height: 32px;

    --trivial: #17a2b8;
    --easy: #28a755;
    --medium: #ffc107;
    --hard: #dc3545;
    --deadly: #343a40;
    --label-color: #738694;

}

* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--font-color);
}
a {
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

/* layout */
#app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
    width: 800px;
}

#encounter {
    display: grid;
    grid-column: 1 / 3;
    /* justify-content: center; */
}

#encounter-party, #encounter-monsters {
    align-self: flex-start;
}

/* form styling */
input[type="text"], select {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0.25em;
    padding: 0.25em;
    height: var(--form-element-height);
}
input[type="submit"] {
    cursor: pointer;
}

.btn {
    background: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: .25em .5em;
    font-weight: bold;
    height: var(--form-element-height);
    width: var(--form-element-height);
}

.add_form {
    display: flex;
    align-items: center;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 3px;
    min-width: 200px;
    height: 50px;
    padding: 0.5em;
    margin-block: 0.5em;
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    -webkit-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.5);

}
.player .stats {
    text-align: right;
}
.emoji {
    font-size: 2em;
}
.stats {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.stats label {
    text-transform: uppercase;
    color: var(--label-color);
}

/* encounter styling */
#encounter label {
    margin-top: 0.5em;
}
#xp-threshold {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pill, .large-pill {
    border-radius: .5em;
    padding: 0.25em 0.5em;
    font-weight: bold;
    color: white;
}
.none {
    background-color: var(--label-color);
}
.trivial { background-color: var(--trivial); }
.easy {
    background-color: var(--easy);
}
.medium {
    background-color: var(--medium);
    color: black;
}
.hard {
    background-color: var(--hard);
}
.deadly {
    background-color: var(--deadly);
}
.large-pill {
    min-width: 55px;
}