@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --bg-color: white;
    --border-color: #D3D3D3;
    --font-color: black;
    --card-color: white;
    --form-element-height: 32px;
}

* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--font-color);
}
a {
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
}

input[type="text"], select {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0.25em;
    padding: 0.25em;
    height: var(--form-element-height);
}
input[type="submit"] {
    cursor: pointer;
}

.btn {
    background: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: .25em .5em;
    font-weight: bold;
    height: var(--form-element-height);
    width: var(--form-element-height);
}

.add_form {
    display: flex;
    align-items: center;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 3px;
    min-width: 200px;
    height: 50px;
    padding: 0.5em;
    margin-block: 0.5em;
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
}
.emoji {
    font-size: 2em;
}
.stats {
    display: flex;
    flex-direction: column;
}