.combatant-row {
	border: 1px solid var(--border-color);
	border-radius: 2px;
	padding: .5em;
	margin-bottom: .5em;
	justify-content: space-between;
	gap: 1em;

	input[type="number"] {
		text-align: center;
	}

	.initiative {

	}

	.combatant {
		flex: 1;
		padding-inline: .5em;
		border-left: 1px solid var(--border-color);
		border-right: 1px solid var(--border-color);
	}

	.hit-points {
		// justify-self: flex-end;
		input[type="number"] {
			width: 40px;
		}
	}
}

#combat-tracker-controls {
	justify-content: space-around;

	button {
		padding: .5em;
	}

	input[type="submit"] {
		width: unset;
	}

	label { 
		text-transform: uppercase;
		font-weight: bold;
	}

	span {
		font-size: 1.25em;
		font-weight: bold;
	}
}

#combat-tracker .stat-block {
	max-width: 100%;
}

/* different resolutions */
@media all and (min-width: 1000px) {
	#combat-tracker {
		display: grid; 
		grid-template-columns: 1fr 1fr;
		gap: 1em;
	}
}