.combatant-row {
	border: 1px solid var(--border-color);
	border-radius: 2px;
	padding: .5em;
	margin-bottom: .5em;
	justify-content: space-between;
	gap: 1em;

	input[type="number"] {
		text-align: center;
	}

	.combatant {
		flex: 1;
		padding-inline: .5em;
		border-left: 1px solid var(--border-color);
		border-right: 1px solid var(--border-color);
	}

	.hit-points {
		input[type="number"] {
			width: 40px;
		}
	}
}

.active-combatant {
	border: 1px solid var(--easy);
	background-color: rgba(40, 167, 85, .2);
}

#round-and-turn {
	justify-content: space-around;

	label { 
		text-transform: uppercase;
		font-weight: bold;
	}

	span {
		font-size: 1.25em;
		font-weight: bold;
	}
}

#combat-tracker {
  .stat-block {
	  max-width: 100%;
  }
}

/* different resolutions */
@media all and (min-width: 1000px) {
	#combat-tracker {
		display: grid; 
		grid-template-columns: 1fr 1fr;
		gap: 1.5em;
	}
}