/* form styling */
form {
    display: flex;
    flex-direction: column;
}
.inline {
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
    justify-content: space-between;
}

input[type="text"], select, textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-block: 0.25em;
    padding: 0.25em;
    height: var(--form-element-height);
}
input[type="submit"] {
    cursor: pointer;
}
textarea {
    min-height: 200px;
    width: 100%;
}
